.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

ul, ul li {
    list-style: none;
}

.main_content {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    width: 100%;
    height: 100%;
    padding: 30px;
}

.todolists_block {
    display: flex;
}

.add_todo_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border: none;
    /*background-color: transparent;*/
    background-color: rgba(0, 0, 0, 0.3);
    color: #c2dfd6;
    font-size: 15px;
    cursor: pointer;
    padding: 0 20px;
    border-radius: 5px;

}

.add_todo_text {
    margin-left: 10px;
}

.add_todo_btn:hover {
    background-color: rgba(169, 169, 169, 0.3);
}